.Survey{
    border: 1px solid black;
    width: fit-content;
}
.Survey-header{
    padding: 22px 20px;
    border-bottom: 1px solid rgba(0, 71, 255, 0.3);
}
.Survey-title{
    font-size: 28px;
    font-weight: 400;
}
.Survey-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}
.Survey-question{

}
.Survey-question-title{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
}
.Survey-answers{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.Survey-answer{
    font-size: 16px;
}
.Survey-submitButton{
    padding: 10px 23px;
    font-size: 20px;
    background-color: #0047FF;
    color: #fff;
    border-radius: 13px;
    border: none;
    width: fit-content;
    align-self: center;
}