.prioritizerSDK-container {
    border: 1px solid #0047FF;
    border-radius: 8px;
    width: fit-content;
    position: relative;
    max-width: 600px;
}

.prioritizerSDK-header {
    padding: 15px 20px;
    border-bottom: 2px solid #0047FF;
}

.prioritizerSDK-title {
    font-size: 20px;
    font-weight: 400;
}

.prioritizerSDK-content {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.prioritizerSDK-question {
    padding: 7px;
}

.prioritizerSDK-feature {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 0;
}

.prioritizerSDK-question-title {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.prioritizerSDK-answers {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.prioritizerSDK-answer {
    font-size: 16px;
}

.prioritizerSDK-backNextButton {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #ddd;
    color: #333;
    border-radius: 13px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.prioritizerSDK-backNextButton:disabled {
    display: none;
}

.prioritizerSDK-backNextButton:hover {
    background-color: #bbb;
}

.prioritizerSDK-backNextButton:active {
    transform: scale(0.97);
}

.prioritizerSDK-submitButton {
    padding: 10px 23px;
    font-size: 16px;
    background-color: #0047FF;
    color: white;
    border-radius: 13px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.prioritizerSDK-submitButton:hover {
    background-color: #0036cc;
}

.prioritizerSDK-submitButton:active {
    transform: scale(0.97);
}

.prioritizerSDK-button {
    padding: 8px 20px;
    font-size: 12px;
    background-color: #0047FF;
    color: white;
    border-radius: 13px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    width: fit-content;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.prioritizerSDK-button.centred {
    align-self: center;
}

.prioritizerSDK-button:hover {
    background-color: #0036cc;
}

.prioritizerSDK-button:active {
    transform: scale(0.97);
}

.prioritizerSDK-decription-toggle {
    cursor: pointer;
    color: #0047FF;
    transition: color 0.3s ease;
}

.prioritizerSDK-decription-toggle:hover {
    color: #0036cc;
}


.prioritizerSDK-feature {
    cursor: pointer;
    transition: color 0.3s ease;
}

.prioritizerSDK-feature:hover {
    color: #0036cc;
}

.prioritizerSDK-decription {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.prioritizerSDK-decription.open {
    max-height: 200px;
}

.prioritizerSDK-decription p {
    margin: 0;
    padding: 10px 0;
}

.unanswered {
    border: 1px solid red;
    background-color: #ffe6e6;
}